.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13.55rem;

    &--black {
        background-color: $black;
        color: $white;
    }

    &--brown {
        background-color: $brown;
        color: $black;
        transform: translateY(-.3rem);
    }

    &__icon {
        margin-right: 1.11rem;

        & path:hover {
            fill: $brown;
        }

        &--dark path {
            fill: $black;

            &:hover {
                fill: $white;
            }
        }

    }

    &__social {
        list-style-type: none;
        position: relative;
        bottom: 1.2rem;

        & li {
            display: inline;
        }
    }

    &__logo {
        height: 3.22rem;
        width: 8.88rem;
    }

    &__text {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.55rem;
        width: 23.88rem;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .footer {
        height: 12rem;

        &__logo {
            height: 2.22rem;
            width: 6.11rem;
        }

        &__text {
            font-size: .88rem;
            line-height: 1.44rem;
            width: 15.61rem;
        }

        &__logo {
            transform: translateY(-1.1rem);
        }

        &__social {
            transform: translateY(-1.1rem);           
        }
    }
}



