

.hero {

    display: flex;

    &__heading {
        position: absolute;
        top: 10.55rem;
        left: 9.16rem;
        color: $white;
        font-size: $HeadingXL;
        line-height: 4.88rem;
        font-weight: 900;

        &--black {
            color: $black;
        }
    }

    &__black {
        width: 25rem;
        background-color: $black;
    }


    &__text {
        position: absolute;
        top: 10.55rem;
        left: 51.38rem;
        width: 19.44rem;
        height: 8.88rem;
    }

    &__img {
        background-image: url("/starter-code/assets/desktop/image-hero.jpg");
        height: 44.44rem;
        width: 30rem;
    }

}

.halfBlack {
    background: linear-gradient(to right, $white 65%, $black 30%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: $breakpoint-tablet) {

    .hero {

        display: block;

        &__img {
            background-image: url("/starter-code/assets/tablet/image-hero.jpg");
            height: 38.88rem;
            width: 24.27rem;
        }

        &__black{
            display: none;
        }

        &__heading {
            color: $black;
            font-size: 3.88rem;
            line-height: 3.61rem;
            top: 8.05rem;
            left: 21.61rem;
            margin-bottom: 2.66rem;
        }

        &__text {
            top: 17.94rem;
            left: 21.61rem;
        }
    }

    .halfBlack {
        color: $black;
        background-image: none;
        -webkit-text-fill-color: $black;
    }

}