html {
    font-size: 18px;
}

h1, h2, h3 {
font-family: 'Big Shoulders Display', cursive;
}

p {
    font-family: 'outfit', sans-serif;
}

.gallery__heading, .gallery__gridHeading, .location__heading {
    @include headingDesktop;
}

.gallery__text, .gallery__gridParagraph, .location__text {
    @include paragraphDesktop;
}


.hero__text {
    @include paragraphDesktop;
}
