.map {
    max-width: 100vw;
    min-width: 100vw;
    background-image: url("/assets/desktop/image-map.png");
    height: 33.33rem;
}

body {
    height: 100vh;

}

.location {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    height: 30.44rem;
    padding: 5.77rem 9.16rem 7.11rem 9.16rem;
    background-color: $black;
    color: $white;
    transform: translateY(-.3rem);
    

    &__street {
        color: $brown;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.33rem;
    }

    &__address {
        list-style-type: none;
        font-family: 'outfit', sans-serif;
        font-weight: 300;
        font-size: 1.22rem;
        line-height: 2rem;
        margin-bottom: 1.77rem;
    }

}

@media only screen and (max-width: $breakpoint-tablet) {
    .map {
        background-image: url("/assets/tablet/image-map.png");
    }

    .location {
        height: 24.22rem;
        padding: 4.63rem 2.22rem;

        &__street {
            font-size: 1.77rem;
            line-height: 1.77rem;
            margin-bottom: 1.11rem;
        }

        &__address {
            font-size: 1rem;
            line-height: 1.55rem;
            margin-bottom: 1.11rem;
        }
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    .map {
        background-image: url("/assets/mobile/image-map.png");
        height: 30.55rem;
    }

    .location {
        flex-direction: column;
        height: 27.38rem;
        padding: 2.66rem .88rem 3.73rem .88rem;

        &__street {
            font-size: 1.77rem;
            line-height: 1.77rem;
            margin-bottom: 1.11rem;
        }

        &__address {
            font-size: 1rem;
            line-height: 1.55rem;
            margin-bottom: 1.11rem;
        }
    }
}