.hero__location {
    display: flex;
    position: absolute;
    top: 23rem;
    left: 51.38rem;
}

.hero__button, .location__button {
    font-size: 1.11rem;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: $btnLtrSpace;
    line-height: 1.33rem;
    font-weight: 800;
    padding: 1.33rem 1.94rem;
    background-color: $black;
    color: rgba(255, 255, 255, 1);
    border: none;

    &:hover {
        cursor: pointer;
        }

    &Arrow {
        background-color: $brown;
        padding: 1.13rem;

        &:hover {
            cursor: pointer;
        }

    }
}

.location__back {
    display: flex;
    position: absolute;
    top: 0;
    left: 8.66rem;
}

@media only screen and (max-width: $breakpoint-tablet) {
    .hero__location {
        left: 21.61rem;
        top: 26.83rem;
    }

    .location__back {
        left: 2.16rem;
    }

}

@media only screen and (max-width: $breakpoint-phone) {
    .hero__location {
        left: .88rem;
        top: 31rem;
    }

    .location__back {
        left: 0rem;
    }

}


