/*Fonts*/

$HeadingXL: 5.33rem;
$HeadingL: 3.88rem;
$HeadingM: 3.33rem;
$HeadingS: 2rem;

$BodyM: 1.22rem;
$BodyS: 1rem;

$lineHDesktopPar: 1.77rem;
$lineHDesktopHead: 3.61rem;
$lineHSMPar: 1.55rem;
$lineHSMHead: 2.5rem;

$btnLtrSpace: .18rem;

/*Colors*/ 
$brown: #D5966C;
$black: #151515;
$darkgrey: #444444;
$white: #FFFFFF;

/*Padding*/
$mainDesktop: 10rem 9.16rem;
$mainSm: 6.66rem 2.22rem;

/*Viewports*/

$breakpoint-tablet: 768px;
$breakpoint-phone: 375px;


